<div
  class="c-companies-list__wrapper"
  [class.c-companies-list__wrapper--block]="
    type === companiesContentTypes.BLOCK
  "
>
  <div
    class="c-companies-list__item"
    *ngFor="let item of list; let i = index"
    [class.c-companies-list__item--block]="type === companiesContentTypes.BLOCK"
  >
    <!-- Image -->
    <div
      class="c-companies-list__image-block"
      [class.c-companies-list__image-block--block]="
        type === companiesContentTypes.BLOCK
      "
    >
      <img
        [alt]="'Company image ' + i"
        class="c-companies-list__image"
        [src]="item.logoUrl || 'assets/images/company.jpg'"
      />
    </div>
    <!-- Content -->
    <div class="c-companies-list__content">
      <!-- Info -->
      <div class="c-companies-list__info">
        <!-- Title -->
        <a [routerLink]="'/companies/' + item.id" class="c-companies-list__title" [title]="item.legalName">
          {{ item.legalName }}
        </a>
        <!-- Description -->
        <div class="c-companies-list__description" *ngIf="item.description">
          <div
            class="c-companies-list__description__item"
            *ngFor="let itemDescriptionItem of item.description.split('. ')"
          >
            <span>{{ itemDescriptionItem }}</span>
          </div>
        </div>
      </div>
      <!-- Arrow -->
      <a class="c-companies-list__arrow" [routerLink]="'/companies/' + item.id">
        <ng-container *ngIf="type === companiesContentTypes.LIST">
          <app-e-circle></app-e-circle>
        </ng-container>
      </a>
    </div>
  </div>
</div>
