@use "sass:map";

.c-about {
  display: block;

  &__search {
    margin-bottom: 60px;

    @media (max-width: map.get($container-max-widths, "sm")) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: map.get($container-max-widths, 'lg')) {
      padding: 0 10px;
    }

    @media (max-width: map.get($container-max-widths, "md")) {
      line-height: 34px;
      font-size: 25px;
    }

    @media (max-width: map.get($container-max-widths, "sm")) {
      line-height: 34px;
      text-align: start;
      font-size: 25px;
      padding: 0;
    }
  }

  &__content {
    line-height: 19px;
    margin-bottom: 0;
    font-size: 14px;

    @media (max-width: map.get($container-max-widths, 'lg')) {
      max-width: 437px;
      padding: 0 10px;
    }

    @media (max-width: map.get($container-max-widths, "sm")) {
      padding: 0;
    }
  }
}
