.c-breadcrumbs {
  display: block;
  margin-bottom: 30px;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    align-items: center;
    position: relative;
    padding-left: 16px;
    cursor: default;
    color: $c-grey;
    display: flex;

    &:first-child {
      padding-left: 0;

      &::before {
        display: none;
      }
    }

    &::before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $c-blue-light;
      position: absolute;
      left: 6px;
    }
  }

  &__link {
    transition: $t-normal;
    cursor: pointer;
    color: $c-grey;

    &:hover {
      color: $c-blue;
    }
  }
}
