@use "sass:map";

.l-error-page {
  &__header {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    display: flex;

    @media (max-width: map.get($container-max-widths, "md")) {
      flex-direction: column;
    }
  }

  &__title {
    margin-right: 70px;
    min-width: 287px;

    @media (max-width: map.get($container-max-widths, "md")) {
      margin-bottom: 30px;
      margin-right: 0;
      min-width: auto;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 19px;
  }

  &__link {
    color: $c-blue-light;
  }

  &__search {
    margin-bottom: 60px;
  }

  &__image {
    margin-bottom: 80px;
    width: 100%;
  }
}
