@use "sass:map";

.c-footer {
  background-color: $c-blue;
  margin-top: 100px;
  color: $c-white;
  display: block;

  &__wrapper {
    max-width: map.get($container-max-widths, "xl");
    justify-content: space-between;
    padding-bottom: 50px;
    position: relative;
    padding-top: 50px;
    display: flex;

    @media (max-width: map.get($container-max-widths, "md")) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__logo {
    margin-bottom: 30px;
    width: 282px;
    height: 47px;

    @media (max-width: map.get($container-max-widths, "lg")) {
      width: 188px;
      height: 31px;
    }
  
    @media (max-width: map.get($container-max-widths, "md")) {
      margin-bottom: 0;
    }
  }

  &__info {
    font-weight: normal;
    line-height: 16px;
    font-size: 12px;
    cursor: default;
  
    @media (max-width: map.get($container-max-widths, "md")) {
      position: absolute;
      bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 30px;
    line-height: 22px;
    font-weight: bold;
    font-size: 16px;
    cursor: default;
  }

  &__item {
    @media (max-width: map.get($container-max-widths, "md")) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
      display: flex;

      &:last-child {
        margin-bottom: 76px;
      }
    }
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    font-weight: normal;
    align-items: center;
    line-height: 16px;
    font-size: 12px;
    color: $c-white;
    cursor: pointer;
    display: flex;

    &:hover {
      text-decoration: none;
      color: $c-white;
      
      span {
        border-bottom-color: $c-white;
      }
    }

    span {
      border-bottom: 1px solid transparent;
    }
  
    @media (max-width: map.get($container-max-widths, "md")) {
      justify-content: center;
    }
  }

  &__icon {
    border: 1px solid $c-white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 12px;
    display: flex;
    height: 40px;
    width: 40px;
  }
  
  &__svg {
    height: 14px;
    width: 14px;
  }
}