.c-header {
  border-bottom: 1px solid $c-white-2;
  background-color: $c-white;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    padding-bottom: 45px;
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    height: 30px;
    width: 180px;
  }
}