@use "sass:map";

.c-main-slider {
  padding-bottom: 60px;

  @media (max-width: map.get($container-max-widths, "lg")) {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content{
    margin: 0 25px;
    overflow: hidden;
    z-index: 100;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: 1px solid $c-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    // &::after {
    //   content: '';
    //   display: none;
    // }

    &__icon {
      font-size: 14px;
      color: $c-blue;

      &--left {
        transform: rotate(90deg);
      }

      &--right {
        transform: rotate(-90deg);
      }
    }
  }
}