@use "sass:map";

.c-news-detail-content {
  display: block;

  &__item {
    margin-bottom: 80px;

    &:nth-child(2n) {
      & > .c-news-detail-content__main {
        flex-direction: row-reverse;
      }
      & .c-news-detail-content__image {
        margin-left: 60px;
        margin-right: 0;

        @media (max-width: map.get($container-max-widths, 'sm')) {
          margin-left: 0;
        }
      }
    }
  }

  &__image {
    border-radius: 30px;
    height: fit-content;
    margin-right: 60px;
    max-width: 305px;
    width: 100%;

    @media (max-width: map.get($container-max-widths, 'sm')) {
      display: none;
    }

    &--mobile {
      margin-bottom: 30px;
      margin-right: 0;
      max-width: 100%;
      display: none;

      @media (max-width: map.get($container-max-widths, 'sm')) {
        display: block;
      }
    }
  }

  &__main {
    margin-bottom: 60px;
    display: flex;

    @media (max-width: map.get($container-max-widths, 'sm')) {
      flex-direction: column-reverse;
    }
  }

  &__title {
    margin-bottom: 30px;

    @media (max-width: map.get($container-max-widths, 'sm')) {
      text-align: left;
    }
  }

  &__params {
    margin-bottom: 30px;
    line-height: 19px;
    font-size: 14px;

    &__item {
      margin-bottom: 10px;
    }

    &__title {
      color: $c-blue;
    }
  }

  &__description {
    &__title {
      margin-bottom: 20px;
      line-height: 22px;
      font-size: 16px;
      color: $c-blue;
    }

    &__text {
      line-height: 19px;
      font-size: 14px;
    }
  }

  &__video-block {
    position: relative;

    &__title {
      margin-bottom: 20px;
      line-height: 22px;
      font-size: 16px;
      color: $c-blue;
    }
  }

  &__video {
    width: 100%;
  }

  &__play {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    display: inline-block;
    position: absolute;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }

  &__svg {
    width: 100%;
    height: 100%;
  }

  &__advertising {
    background-color: $c-grey-2;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    border-radius: 30px;
    line-height: 34px;
    font-size: 25px;
    height: 140px;
    display: flex;
  }
}
