@use "sass:map";

.c-services-content {
  &__title {
    margin-bottom: 60px;
  }

  &__search {
    margin-bottom: 60px;
  }

  &__list {
    grid-template-columns: repeat(4, 1fr);
    list-style-type: none;
    grid-gap: 24px;
    display: grid;
    padding: 0;
    margin: 0;

    @media (max-width: map.get($container-max-widths, "md")) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    transition: $t-normal;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &__title {
      position: absolute;
      line-height: 19px;
      max-width: 107px;
      color: $c-black;
      font-size: 14px;
      width: 100%;
      left: 20px;
      top: 30px;

      @media (max-width: map.get($container-max-widths, "sm")) {
        font-size: 12px;
      }
    }

    &__image {
      width: 100%;
    }
  }
}