@use "sass:map";

.c-sidebar {
  display: block;
  width: 282px;

  @media (max-width: map.get($container-max-widths, "xl")) {
    padding-top: 80px;
    width: 100%;
  }

  &__title {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    margin: 0 0 45px 0;
    color: $c-blue;
    cursor: default;
  }

  &__news {
    @media (max-width: map.get($container-max-widths, "xl")) {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 30px;
      grid-gap: 24px;
      display: grid;
    }

    @media (max-width: map.get($container-max-widths, "md")) {
      display: none;
    }
  }

  &__swiper {
    display: none;
    padding-bottom: 50px;

    @media (max-width: map.get($container-max-widths, "md")) {
      display: block;
    }
  }

  &__news-item {
    margin-bottom: 20px;

    @media (max-width: map.get($container-max-widths, "xl")) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 30px;

      @media (max-width: map.get($container-max-widths, "xl")) {
        display: none;
      }

      @media (max-width: map.get($container-max-widths, "md")) {
        display: block;
      }
    }
  }

  &__all-news {
    color: $c-blue-light;
    font-size: 14px;
    line-height: 19px;
    text-decoration: underline;
    cursor: pointer;
    transition: $t-normal;
  }

  &__advertising {
    margin-top: 60px;

    @media (max-width: map.get($container-max-widths, "xl")) {
      display: none;
    }

    &__item {
      border-radius: 30px;
      overflow: hidden;
      height: 305px;
      background-color: #C4C4C4;
      margin-bottom: 25px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}