<div class="c-news-detail-main-social__wrapper">
  <!-- Classmates -->
  <a class="c-news-detail-main-social__item">
    <svg class="icon c-news-detail-main-social__svg">
      <use xlink:href="#icon-classmates"></use>
    </svg>
  </a>
  <!-- VK -->
  <a class="c-news-detail-main-social__item">
    <svg class="icon c-news-detail-main-social__svg">
      <use xlink:href="#icon-vk"></use>
    </svg>
  </a>
  <!-- Facebook -->
  <a class="c-news-detail-main-social__item">
    <svg class="icon c-news-detail-main-social__svg">
      <use xlink:href="#icon-facebook"></use>
    </svg>
  </a>
  <!-- Viber -->
  <a class="c-news-detail-main-social__item">
    <svg class="icon c-news-detail-main-social__svg">
      <use xlink:href="#icon-viber"></use>
    </svg>
  </a>
  <!-- Telegram -->
  <a class="c-news-detail-main-social__item">
    <svg class="icon c-news-detail-main-social__svg">
      <use xlink:href="#icon-telegram"></use>
    </svg>
  </a>
</div>
