<header class="c-header__wrapper container-fluid">
  <a class="c-header__left" routerLink="/">
    <!-- Burger -->
    <div class="c-header__burger">
      <app-burger></app-burger>
    </div>
    <!-- Logo -->
    <img
      class="c-header__logo"
      src="assets/artelitan-logo.png"
      alt="artelitan-logo"
    />
  </a>
  <!-- Navigations -->
  <app-navigation></app-navigation>
  <!-- Locations -->
  <div class="c-header__right">
    <div class="c-header__search">
      <svg class="c-header__search__icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </div>
    <app-location></app-location>
  </div>
</header>
