<header class="c-header__wrapper container-fluid">
  <!-- Burger -->
  <app-burger
    [open]="openMenu"
    (changeBurger)="openMenu = !openMenu"
  ></app-burger>
  <a class="c-header__left" routerLink="/">
    <!-- Logo -->
    <img
      class="c-header__logo"
      src="assets/artelitan-logo.png"
      alt="artelitan-logo"
    />
  </a>
  <!-- Navigations -->
  <div
    class="c-header__navigation"
    [class.c-header__navigation--hide]="!openMenu"
  >
    <app-navigation (close)="openMenu = false"></app-navigation>
  </div>
  <!-- Locations -->
  <div class="c-header__right">
    <div class="c-header__search">
      <svg class="c-header__search__icon">
        <use xlink:href="#icon-search"></use>
      </svg>
    </div>
    <app-location></app-location>
  </div>
</header>
