<div class="c-main-slider__wrapper">
  <div class="c-main-slider__arrow" (click)="prev()">
    <svg
      class="icon c-main-slider__arrow__icon c-main-slider__arrow__icon--left"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </div>

  <swiper
    (swiper)="onSwiper($event)"
    [loop]="true"
    [breakpoints]="breakpoints"
    (slideChange)="onSlideChange()"
    [pagination]="{ clickable: false }"
    class="c-main-slider__content"
  >
    <ng-template swiperSlide>
      <div class="c-main-slider__block">
        <img src="assets/images/slider/1.png" alt="slide1" />
        <b class="c-main-slider__text">
          {{ 'slider.1.1' | translate }}
          <br />
          {{ 'slider.1.2' | translate }}
        </b>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="c-main-slider__block">
        <img src="assets/images/slider/2.png" alt="slide2" />
        <b class="c-main-slider__text">
          {{ 'slider.2.1' | translate }}
          <br />
          {{ 'slider.2.2' | translate }}
        </b>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="c-main-slider__block">
        <img src="assets/images/slider/3.png" alt="slide3" />
        <b class="c-main-slider__text">
          {{ 'slider.3.1' | translate }}
          <br />
          {{ 'slider.3.2' | translate }}
        </b>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="c-main-slider__block">
        <img src="assets/images/slider/4.png" alt="slide4" />
        <b class="c-main-slider__text">
          {{ 'slider.4' | translate }}
        </b>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="c-main-slider__block">
        <img src="assets/images/slider/1.png" alt="slide5" />
        <b class="c-main-slider__text">
          {{ 'slider.1.1' | translate }}
          <br />
          {{ 'slider.1.2' | translate }}
        </b>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="c-main-slider__block">
        <img src="assets/images/slider/2.png" alt="slide6" />
        <b class="c-main-slider__text">
          {{ 'slider.2.1' | translate }}
          <br />
          {{ 'slider.2.2' | translate }}
        </b>
      </div>
    </ng-template>
  </swiper>
  <div class="c-main-slider__arrow" (click)="next()">
    <svg
      class="icon c-main-slider__arrow__icon c-main-slider__arrow__icon--right"
    >
      <use xlink:href="#icon-arrow"></use>
    </svg>
  </div>
</div>
