<div class="e-navigation__wrapper">
  <a (click)="close.emit()" routerLink="/news" class="e-navigation__item">
    {{ 'navigation.news' | translate }}</a
  >
  <a (click)="close.emit()" routerLink="/services" class="e-navigation__item">
    {{ 'navigation.services' | translate }}</a
  >
  <a (click)="close.emit()" routerLink="/companies" class="e-navigation__item">
    {{ 'navigation.companies' | translate }}</a
  >
  <a (click)="close.emit()" routerLink="/contacts" class="e-navigation__item">
    {{ 'navigation.contacts' | translate }}</a
  >
</div>
