<section class="c-advertisers__wrapper">
  <!-- Search -->
  <div class="c-advertisers__search">
    <app-c-search></app-c-search>
  </div>
  <!-- Header -->
  <div class="c-advertisers__header">
    <h1 class="c-advertisers__title">
      {{ 'advertisers.title' | translate }}
    </h1>
    <p class="c-advertisers__info">
      {{ 'advertisers.info.1' | translate }}
    </p>
  </div>
  <!-- Subtitle -->
  <h2 class="c-advertisers__subtitle">
    {{ 'advertisers.subtitle' | translate }}
  </h2>
  <p class="c-advertisers__info" style="margin-bottom: 60px">
    <span>
      {{ 'advertisers.info.2' | translate }}
    </span>
    <a href="mailto:info@info.ru" class="c-advertisers__link">
      {{ 'advertisers.info.3' | translate }}
    </a>
    <span>
      {{ 'advertisers.info.4' | translate }}
    </span>
  </p>
  <!-- Lists -->
  <div class="c-advertisers__lists">
    <!-- Left -->
    <ul class="c-advertisers__list">
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.1' | translate }}
      </li>
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.2' | translate }}
      </li>
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.3' | translate }}
      </li>
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.4' | translate }}
      </li>
    </ul>
    <!-- Right -->
    <ul class="c-advertisers__list">
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.5' | translate }}
      </li>
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.6' | translate }}
      </li>
      <li class="c-advertisers__list__item">
        {{ 'advertisers.list.7' | translate }}
      </li>
    </ul>
  </div>
</section>
