// COLORS
$c-black: #000;
$c-white: #fff;
$c-white-2: #EBEBEB;
$c-blue: #1E4C79;

// FONTS
$f-main: 'Open Sans', sans-serif;

// Transition
$t-normal: .35s cubic-bezier(.4,0,.2,1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, .3);