@import './fonts';
@import './variables';
@import './keyframes';
@import './plugins/index';
@import './main';
@import './components/index';
@import './elements/index';
@import './layouts/index';

/*****************************************************
	Custom styling example bellow.
*****************************************************/

ngx-intl-tel-input {
	width: 100%;

	.dropdown-toggle {
		border-right: 1px solid $c-silver-2;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
		padding: 0 20px;

		&:hover {
			background-color: none !important;
		}
	}

	.c-feedback__input {
    border: 1px solid $c-silver-2;
    border-radius: 30px;
    line-height: 16px;
    max-height: 150px;
    font-size: 12px;
    padding: 0 20px 0 92px !important;
	}
}

.iti {
	display: block !important;

	&__flag-container {
		&:hover {
			background-color: transparent;
		}
	}
}

.iti .dropdown-menu.country-dropdown {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-color: $c-silver-2;
	margin-top: -1px;
}

.iti .iti__country-list {
	max-height: 170px;
	box-shadow: none;
	font-size: 14px;
	margin-left: 0;
}

.iti .search-container input {
	border-color: $c-silver-2;
	padding: 5px 10px;
	border-radius: 0;
	font-size: 14px;
}
