@use "sass:map";

.e-burger {
  position: absolute;
  cursor: pointer;
  display: none;
  z-index: 902;
  left: 20px;

  @media (max-width: map.get($container-max-widths, 'lg')) {
    display: block;
  }

  @media (max-width: map.get($container-max-widths, 'sm')) {
    left: 15px;
  }

  &__wrapper {
    flex-direction: column;
    align-items: center;
    display: flex;
    z-index: 202;
    height: 12px;
    width: 18px;

    &--active {
      span {
        transform: rotate(45deg);

        &:first-child {
          transform: rotate(-45deg);
          top: 5px !important;
        }

        &:last-child {
          display: none;
          opacity: 0;
        }
      }
    }
  }

  span {
    position: absolute;
    background-color: $c-black;
    transition: $t-normal;
    border-radius: 2px;
    width: 18px;
    height: 2px;
    top: 5px;

    &:first-child {
      top: 0;
    }

    &:last-child {
      top: auto;
      bottom: 0;
    }
  }
}