.e-burger {
  cursor: pointer;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__item {
    width: 18px;
    height: 2px;
    background-color: $c-black;
    margin-bottom: 4px;
    border-radius: 2px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}