@use "sass:map";

.e-location {
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    border: 1px solid$c-blue;
    border-radius: 50%;
    margin-right: 12px;
    fill: $c-blue;
    height: 30px;
    width: 30px;

    @media (max-width: map.get($container-max-widths, 'sm')) {
      margin-right: 0;
    }
  }

  &__title {
    line-height: 1.3;
    font-weight: normal;

    @media (max-width: map.get($container-max-widths, "sm")) {
      display: none;
    }
  }

  &__arrow {
    margin-left: 9px;
    cursor: pointer;
    font-size: 8px;

    @media (max-width: map.get($container-max-widths, "sm")) {
      display: none;
    }
  }

  &__list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 100%;
    min-width: 170px;
    box-shadow: $bs-normal;
    list-style-type: none;
    background-color: $c-white;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
  }

  &__item {
    padding: 10px 5px;
    margin-bottom: 5px;
    transition: $t-normal;

    &:hover {
      background-color: $c-white-2;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}