.e-location {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 12px;
  }

  &__title {
    line-height: 1.3;
    font-weight: normal;
    cursor: pointer;
  }

  &__arrow {
    margin-left: 7px;
    cursor: pointer;
  }
}