@use "sass:map";

.e-sidebar-item {
  display: block;
  background-color: $c-silver;
  border-radius: 30px;
  padding: 30px 20px;
  cursor: default;
  height: 100%;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin-right: 21px;


    @media (max-width: map.get($container-max-widths, "md")) {
      display: flex;
    }
  }

  &__date {
    font-weight: normal;
    white-space: nowrap;
    margin-bottom: 12px;
    line-height: 11px;
    color: $c-grey;
    font-size: 8px;


    @media (max-width: map.get($container-max-widths, "md")) {
      margin-right: 7px;
      margin-bottom: 0;
      padding-top: 5px;
    }
  }

  &__title {
    font-size: 14px;
    line-height: 19px;
  }

  &__link {
    margin-top: -15px;

    @media (max-width: map.get($container-max-widths, "md")) {
      display: none;
    }
  }
}