<div class="e-stars__wrapper">
  <!-- 1 -->
  <div class="e-stars__item">
    <svg class="e-stars__svg" [class.e-stars__svg--yellow]="starCount >= 1">
      <use xlink:href="#icon-star"></use>
    </svg>
  </div>
  <!-- 2 -->
  <div class="e-stars__item">
    <svg class="e-stars__svg" [class.e-stars__svg--yellow]="starCount >= 2">
      <use xlink:href="#icon-star"></use>
    </svg>
  </div>
  <!-- 3 -->
  <div class="e-stars__item">
    <svg class="e-stars__svg" [class.e-stars__svg--yellow]="starCount >= 3">
      <use xlink:href="#icon-star"></use>
    </svg>
  </div>
  <!-- 4 -->
  <div class="e-stars__item">
    <svg class="e-stars__svg" [class.e-stars__svg--yellow]="starCount >= 4">
      <use xlink:href="#icon-star"></use>
    </svg>
  </div>
  <!-- 5 -->
  <div class="e-stars__item">
    <svg class="e-stars__svg" [class.e-stars__svg--yellow]="starCount >= 5">
      <use xlink:href="#icon-star"></use>
    </svg>
  </div>
</div>
