<div
  appClickOutside
  class="e-location__wrapper"
  (click)="toggleOpenCloseLocationList()"
  (clickOutside)="showList = false"
>
  <svg class="icon e-location__icon">
    <use xlink:href="#icon-location"></use>
  </svg>
  <span class="e-location__title">
    <ng-container *ngIf="selectedValue; else locationSelected">
      {{ selectedValue.title | translate }}
    </ng-container>
    <ng-template #locationSelected>
      {{ 'location.title' | translate }}</ng-template
    >
  </span>
  <svg class="icon e-location__arrow"><use xlink:href="#icon-arrow"></use></svg>
</div>
<!-- Location list -->
<ul class="e-location__list" [hidden]="!showList">
  <li
    class="e-location__item"
    *ngFor="let locationItem of locationList"
    (click)="selectLocation(locationItem)"
  >
    {{ locationItem.title | translate }}
  </li>
</ul>
